*{
  margin: 0;padding: 0;
}
.containere_1 {
  background-color: lightgray;
  /* height: 200; */
  height: 150vh;
}

.header {
  background-color: blue;
  color: white;
  position: sticky;
  top: 10px;

}

.border_div{
  height: 100px;
  width: 300px;
  background-color: green;
  border: 10px solid black;
  opacity: 0.5;
  visibility: hidden;
}