*{
    padding: 0;margin: 0;
}
.heading_1 {
  /* color: #4bbf6a; */
  /* color: rgb(75, 191, 106);
  color: rgb(255, 255, 255);
  color: rgb(155, 0, 255); */
  color: rgba(155,0,255,0.5);
  background: red;
}

.container_1{
    /* border: 1px solid black; */
    height:90vh ;
    background-color: rgb(179, 169, 169);
    width: 50vw;

}

.child_div{
    height: 50%;
    background-color: black;
}

